<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
<h1>Akele Benjamin</h1>
<p>I am currently pursuing a bachelor's degree in Computer Science. I am currently engaging in a few  extracurricular activities such as football and track and field. I hope by the end of my university tenure I will become a well rounded individual in society. I am interested in Web Development because I would like to learn HTmL and be more familiar with GitHub.</p>
</body>
</html>